#octopus {
		display: block;
		margin: auto;
		width: 20%;
		padding-top: 80px;
	}
	 
	#hat {
		position: absolute;
		left: 460px;
		top: 15px;
	}
	 
	#glasses {
		position: absolute;
		left: 520px;
		top: 200px;
	}
